<!--Formulario de búsqueda-->
<div class="row my-div">
    <!--    <div class="col-12">
        <h4>Formulario de Búsqueda</h4>
    </div> -->
    <div class="col-md-6">
        <div class="input-group">
            <input id="wordInput" type="text" class="form-control" [(ngModel)]="wordInput"
                placeholder="Buscar en Twitter" aria-describedby="wordHelp">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="search()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <small id="wordHelp" class="form-text text-muted">Use ";" para buscar varios términos. Ej.: Argentina;
            #argentina</small>
    </div>
    <div class="card">
        <i class="far fa-angry icono">0</i>
        <h5 class="card-title">0</h5>
    </div>
    <div class="card">
        <i class="far fa-meh icono"></i>
        <h5 class="card-title">0</h5>
    </div>
    <div class="card">
        <i class="far fa-meh-blank icono"></i>
        <h5 class="card-title">0</h5>
        </div>
        <div class="card">
            <i class="fab fa-twitter icono"></i>
            <h5 class="card-title">0</h5>
        </div>
    <!--     <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="search()">Buscar</button>
    </div> -->
    <!--Charts-->
    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-md-3">
            <h4>Gráficos en Tiempo Real</h4>
        </div>
        <div class="col-md-9">
            <div class="btn-group btn-group-sm" role="group" [hidden]="!dataChart">
                <button type="button" (click)="startDataChartRealTime()" class="btn btn-success">Iniciar</button>
                <button type="button" (click)="stopDataChartRealTime()" class="btn btn-danger">Detener</button>
            </div>
        </div>
        <div class="col-md-6">
            <app-line-chart [(response)]="dataChart"></app-line-chart>
        </div>
        <div class="col-md-6">
            <app-pie-chart [(response)]="dataChart"></app-pie-chart>
        </div>
    </div>
    <!--Tweets-->
    <div class="row">
        <div class="col-3">
            <h4>Tweets en Tiempo Real</h4>
        </div>
        <div class="col-md-9">
            <div class="btn-group btn-group-sm" role="group" [hidden]="!dataTweets">
                <button type="button" (click)="startDataTweetsRealTime()" class="btn btn-success">Iniciar</button>
                <button type="button" (click)="stopDataTweetsRealTime()" class="btn btn-danger">Detener</button>
            </div>
        </div>
        <div class="col-12">
            <app-tweet-list [(response)]="dataTweets"></app-tweet-list>
        </div>
    </div>