.my-div {
    margin-top: 0em;
}

.counters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: inline-block;
    border: none;
    margin-right: 3.5em;
    background-color: #fafafb;
    min-width: 107px;
    max-width: 200px;
}

.card:last-child {
    margin-right: 0;
}

.icono {
    font-size: 1.9em;
}

.input-wrapper {
    padding: 1em 0 0.5em 0;
    vertical-align: middle;
    font-family: "Lato";
    background-color: #fafafb;
    border-bottom: 1px solid #e9e9eb;
}

.form-control {
    font-size: 1.3em;
}

h5 {
    float: around;
    font-size: 1.3em;
    padding-top: 0.5em;
    text-align: center;
}

div .card i {
    float: left;
    font-size: 2.5em;
    padding-right: 5px;
}