<div [hidden]="!dataLoaded" class="col-12">
    <div class="chart-wrapper card shadow">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<div [hidden]="dataLoaded" class="col-12">
    <div class="alert alert-warning my-alert" role="alert">
        Aún no se recibieron datos para generar el gráfico
    </div>
</div>