<div [hidden]="!dataLoaded" class="col-12">
  <ul class="list-group">
    <li *ngFor="let tweet of tweets" class="list-group-item card shadow" [ngClass]="tweet.Agresivo">
      <small>{{ tweet['Fecha de creación'] | date:'HH:mm:ss · dd MMM. yyyy' }}</small>
      <p>{{ tweet.Texto | truncate }}</p>
    </li>
  </ul>  
  <div class="col-12">&nbsp;</div>
</div>
<div [hidden]="dataLoaded" class="col-12">
    <div class="alert alert-warning" role="alert">
      Aún no hay tweets para mostrar
    </div>
</div>